.skills-title {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgba(233, 51, 82, 1);
}

.skills-text {
  padding: 1rem;
}

.skill-title {
  color: rgb(87, 87, 87);
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.skills-list {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 5rem);
  justify-content: space-around;
  gap: 1.5rem 1rem;
}

.skill-badge {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-badge i {
  font-size: 3rem;
}

.skill-badge-name {
  font-size: 1rem;
  margin-top: 0.1rem;
  color: rgba(95, 95, 95, 0.897);
}
i.plus1 {
  position: absolute;
  font-size: 0.9rem;
  top: 23%;
  right: 15%;
}
i.plus2 {
  position: absolute;
  font-size: 0.9rem;
  top: 23%;
  right: 0%;
}
