.about-title {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgba(98, 186, 71, 1);
}

.about-text {
  margin-top: 1rem;
  padding: 0.5rem;
  line-height: 1.4rem;
}

.about-text-title {
  font-size: 1.3rem;
  text-align: center;
}
.about-text p {
  font-size: 0.85rem;
}

.about-text .about-text-lead {
  font-size: 1rem;
  text-align: center;
}

.about-list {
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-list i {
  color: rgba(85, 85, 85, 0.596);
}
