.work-title {
  font-size: 1.7rem;
  font-weight: bold;
  color: rgba(7, 64, 222, 1);
}

.work-text {
  padding: 1rem;
}

.work-text-title {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.work-text-date {
  color: grey;
  text-align: center;
}
.work-text-list {
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  line-height: 1.5rem;
}
